CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
Testing
bin/
compile_commands.json
test_data/
build/
benchmarking/pyvenv*
doc/_build/
doc/_static/pfire_tutorial_files.zip
gitstate.hpp
gitstate.cpp
gh-pages
*.csv
*.png
*.swp
*.xdmf*
*.aux
*.log
*.pdf
test/*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs
.cproject
.project
.pydevproject
.settings/
src/.cproject
src/.project

